 
 /*Definition d'une police particuliere pour afficher le texte de la page*/
 /*Ajout de police Montserrat en regular et bold */
 @font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('./fonts/static/Montserrat-Regular.ttf'), format('ttf')
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('./fonts/static/Montserrat-Regular.ttf'), format('ttf')
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('./fonts/static/Montserrat-Bold.ttf'), format('ttf')
  }

  body{
    font-family:'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;  /* Amelioration nettete des textes pour Chrome et Safari*/
    -moz-osx-font-smoothing: grayscale;   /* Amelioration nettete des textes pour Firefox sur MacOS*/
  }
  header, main{
    margin: 2vw 2vw 0 2vw;
    max-width: 1240px;

  }

  @media screen and (max-width:576px) {
    header, main {
      margin: 2vw 2vw 0 2-vw;
    }
  }
