@import '../utils/variables';
@import '../utils/mixins';
@import '../utils/placeholders';

.gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px 50px;
    padding: 50px;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: #F6F6F6;
    border-radius: $radius-large;
    
}

@media screen and (max-width: 596px) {
    .gallery {
        background: none;
        padding: 0px;
        margin-top: 15px;
        gap: 20px;
        @include flex(column, flex-start, center);
    }
}