@import '../utils/variables';
@import '../utils/mixins';
@import '../utils/placeholders';


/* Stars Rating */
.rating-logement {
  font-size: 24px;
  margin-top: 26px;
  gap: 15px ;
}

.star-active {
  color: #ff6060;
  margin-left: 15px;
}

.star-inactive {
  color: #e3e3e3;
  margin-left: 15px;
}


.logement-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 25px 0;

  &--nom {
    font-size: 36px;
    text-align: left;
    margin-bottom: 10px;
  }

  &--emplacement {
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
  }

  &--liste {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 0;
    margin: 0;

    &-tag {
      font-size: 14px;
      font-weight: 500;
      padding: 5px 25px;
      margin: 0;
      margin-right: 10px;
      color: white;
      background: #FF6060;
      border-radius: 10px;
      list-style: none;
    }
  }

  &--hote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    &-identity {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
    }

    &--nom-hote {
      font-size: 18px;
      text-align: right;
      margin-right: 10px;
    }

    &--photo-hote {
      width: 64px;
      height: 64px;
      border-radius: 100px;
    }
  }
}


/* Autres */
.font {
  font-weight: 500;
  color: #ff6060;
}

/* Collapse */
.collapsess-logement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.collapse.collapse-logement {
  width: 48%;
}

.collapse-container.collapse-logement {
  width: 100%;
  margin-bottom: 0;
}

.collapse-title.collapse-logement {
  font-size: 18px;
}

.collapse-body.collapsess-logement {
  font-size: 18px;
}
  
@media screen and (max-width: 576px) {
  .star-active, .star-inactive {
    margin-left: 0;
    margin-right: 8px;
  }

  .logement-info {
    margin-bottom: 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    &--nom {
      font-size: 18px;
    }

    &--emplacement {
      font-size: 14px;
    }

    &--liste-tag {
      font-size: 10px;
      border-radius: 10px;
    }

    &--tag {
      font-size: 10px;
    }
  }
  .logement-info{
    &--hote {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      &--hote-identity {
        font-size: 14px;
        width: min-content;
      }

      &--photo-hote {
        width: 36px;
        height: 36px;
      }
    }
  }

  .rating-logement {
    font-size: 14px;
    margin: 0;
  }

  .collapsess-logement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .collapse.collapse-logement {
    width: 100%;
  }

  .collapse-title.collapse-logement {
    font-size: 14px;
  }

  .collapse-body.collapse-logement {
    font-size: 12px;
  }
}
