@import './variables';
@import './mixins';
@import './placeholders';

.collapse {

    @include flex (row, center, ''); 
    
    & --container {
        width: 85%;
        margin-bottom: 25px;
    }

    &--header{
        cursor: pointer;
        width: 100%;
        height: 56px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: $radius-small;
        background-color: $main-color;
        border: none;
        padding: 10px 20px 10px 15px;
        margin-top: 30px;
    }
    &--title {
        @include font-properties(24px, 500, white);
        transition: transform 200ms ease-out;

        &.is-open {
            transform: rotate(-180deg);
        }
    }
    &--body {
        @include font-properties (24px, 400, $main-color);
        background-color: white;
        border-radius: $radius-small;
        padding: 20px;
        text-align: left;
    }
}


@media screen and (max-width: 576px) {
    .collapse {
        &-container {
            width: 100%;
            margin-bottom: 20px;
        }

        &-header {
            padding: 10px;
            height: 40px;
        }

        @include font-properties (13px, 500, white) &-title {
            font-size: 13px;
        }

        &--icon {
            font-size: 16px;
        }

        &--body {
            font-size: 12px;
        }
    }
}