@import './variables';
@import './mixins';
@import './placeholders';

.footer{
    margin-top: 45px;
    background-color: #000000;
    height: 210px;
}

.logo-footer{
    margin-top: 65px;
}

.copyright{
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 400;
}

@media screen and (max-width: 576px) {
    .logo-footer{
        margin-top: 66px;
    }
}