@import './variables';
@import './mixins';
@import './placeholders';


/*Logements*/
.logement-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 0;
}

.ogement-nom{
    font-size: 36px;
    text-align: left;
    margin-bottom: 10px;

}
.logement-emplacement{
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.liste-tag-logement{
    display: flex;
    padding: 0;
    margin: 0;
}

.tag-logement {
    font-size: 14px;
    padding: 5px 40px;
    margin: 0;
    margin-right: 10px;
    color: white;
    background: #FF6060;
    border-radius: 10px;
    list-style: none;
}

/*Stars Rating*/
.rating-logement{
    font-size: 24px;
    margin-top: 26px;
}

.star-active{
    color: #ff6060;
    margin-left: 15px;
}

.star-inactive{
    color: #e3e3e3;
    margin-left: 15px;
}

/*Equipements*/
.liste-equipements{
    margin: 0;
    padding: 0;
}
.equipement{
    list-style: none;
    margin: 0;
    padding: 0;
}
/*Hotes*/
.container-hote{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.nom-hote{
    font-size: 18px;
    text-align: right;
    margin-right: 10px;
}
.photo-hote{
    height: 64px;
    width: 64px;
    border-radius: 100px;
}
.info-hote{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
}

/*Autres*/
.font {
    font-weight: 500;
    color: #ff6060;
}
.collapse-body-logement.collapse-logement{
    font-size: 18px;
}
.collapse-container-logement{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.collapse.collapse-logement {
    width: 100%;
}
.collapse-nom-logement.collapse-logement{
    font-weight: 500;
    font-size: 18px;
}