/* Variables */
$main-color: #FF6060;
$radius-large: 25px;
$radius-medium: 10px;
$radius-small: 5px;

/* Mixins */
@mixin font-properties($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

/* Common Classes */
.text-center {
  text-align: center;
}

/* Collapse */
.collapse {
  @include flex(column, space-evenly, center);
  margin-bottom: 122px;
}

.collapse-container {
  width: 85%;
  margin-bottom: 20px;
}

.collapse-header {
  @include flex(row, space-between, center);
  border-radius: $radius-medium;
  background-color: $main-color;
  border: none;
  padding: 10px 20px;
  margin-top: 30px;
}

.collapse-title {
  font-size: 24px;
  font-weight: 500;
  color: white;
}

.collapse-icon {
  font-size: 24px;
  color: white;
  transition: transform 0.3s ease;
}

.collapse-body {
  background-color: #F7F7F7;
  border-radius: $radius-medium;
  padding: 20px;
  text-align: left;
  color: $main-color;
  font-size: 24px;
  font-weight: 500;
}

/* Error */
.error {
  @include flex(column, space-evenly, center);
  margin-bottom: 122px;
}

.error-titre {
  font-size: 275px;
  font-weight: 700;
  color: $main-color;
}

.error-message {
  font-size: 36px;
  font-weight: 500;
  color: $main-color;
}

.error-comeback-message {
  font-size: 18px;
  font-weight: 500;
  color: $main-color;
  text-decoration: underline;
}

/* Footer */
.footer {
  margin-top: 45px;
  background-color: #000000;
  height: 210px;
  @include flex(column, center, center);
}

.footer .logo-footer {
  margin-top: 65px;
}

/* Header */
.header {
  @include flex(row, space-between, center);
  margin-bottom: 50px;
}

.navigation-link {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: $main-color;
  margin-left: 26px;
}

.navigation-link--active {
  text-decoration: underline;
}

/* Stars Rating */
.rating-logement {
  font-size: 22px;
  margin-top: 26px;
}

.star-active {
  color: $main-color;
  margin-left: 15px;
}

.star-inactive {
  color: #e3e3e3;
  margin-left: 15px;
}

/* Logements */
.logement-info {
  @include flex(row, flex-start, space-between);
  margin: 25px 0;
}

.logement-info--nom {
  font-size: 36px;
  text-align: left;
  margin-bottom: 10px;
}

.logement-info--emplacement {
  font-size: 18px;
}