@import './variables';
@import './mixins';
@import './placeholders';

.slideshow {
        @include flex (row, center, center);
        position: relative;
        width: 100%;
        height: 415px;
        border-radius: $radius-large;
        margin-top: 18px;


        &-img  {
        @extend %width-height-100;
            &--active {
                @extend %width-height-100;
                object-fit: cover;
                border-radius: $radius-large;
            }
        }

        &-navigation{
            @include font-properties(80px, '', white);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
        
        &--next-slide{
                right: 25px;
        }

        &--previous-slide{
                left:25px;
        }

        &-number{
            @include font-properties(18px, 500, white);
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
        }
}

@media screen and (max-width: 576px) {
    .slideshow{
        height: 250px;

        &--next-slide{
            right: 5px;
        }
        
        &--previous-slide{
            left: 5px;
        }

        &-navigation {
            font-size: 20px
        }

        &-number{
            display: none;
        }
    }
}
