@import './variables';
@import './mixins';
@import './placeholders';

.card{
    max-width: 340px;
    width: 25vw;
    height: 100%;
    position: relative;
    aspect-ratio: 1/1;

    &--cover{
        object-fit: cover;
        border-radius: $radius-medium;
        @include width-height-100;
    }
    &--title{
        position: absolute;
        text-align: left;
        margin: 0 0.5rem 1rem 1rem;
        @include font-properties (18px, 500, white);
    }
    &--overlay{
        position: absolute;
        left: 0;
        top: 0;
        @include width-height-100;
        pointer-events: none;
        border-radius: $radius-medium;
        background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%);
    }
}