.banner-img{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    background-size: cover;
    background-position: center center;
    height: 265px;
    border-radius: 25px;
    z-index: 0;
}

.banner-img--overlay{
    position: absolute;
    border-radius: 25px;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.3) ;
}


.banner-title {
    font-size: 48px;
    font-weight: 500;
    color: #FFF;
    position: relative;
    z-index: 2;
  }

  @media screen and (max-width: 576px) {
    .banner-image {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      padding-left: 16px;
      height: 110px;
    }
    .banner-title {
      font-size: 24px;
      text-align: left;
    }
  }