
.gallery{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;      
    flex-wrap: wrap;
    gap: 50px 60px;
    margin-top:  50px;
    padding: 50px;
    background-color: #f6f6f6;
    border-radius: 15px;
}

@media screen and (max-width:576px) {
    .gallery{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0 0 ;
        background-color: white;
        gap: 25px;
    }
}

