.slideshow {
    display: flex;
    position: relative;
    justify-content:center ;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 415px;
    border-radius: 25px;
    margin-top: 20px;
}

.slideshow-active-img {
    object-fit: cover;
    -o-object-fit: cover;
    border-radius: 25px;
}

.slideshow-img, .slideshow-active-img {
    width: 100%;
    height: 100%;
}

.slideshow-number{
    color: white;
    font-weight: 500;
    font-size: 18px;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}


.slideshow--next-slide{
    right: 25px;
}
.slideshow--previous-slide{
    left: 25px;
}

.slidehshow-navigation{
    position: absolute;
    color: white;
    top: 50%;
    font-size: 75px;
    transform: translateY(-50%);
    font-size: 80px;
    cursor: pointer;
}

@media screen and (max-width: 576px ){
    .slideshow {
        height: 250px;
    }
    .slideshow--next-slide{
        right: 5px;
    }
    .slideshow--previous-slide{
        left: 5px;
    }
    .slidehshow-navigation {
        font-size: 20px;
    }
    .slideshow-number{
        display: none;
    }
}